<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-ds-1384790568403-42335</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>ds-1384790568403-42335</wdId>
      <tags>JavaApp-gc</tags>
      <dirName>./gc/**</dirName>
      <hosts></hosts>
      <filePattern>*gc*,*GC*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>30</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>false</grokDiscovery>
      <fieldDiscovery>false</fieldDiscovery>
      <systemFieldsEnabled>false</systemFieldsEnabled>
      <breakRule>Default</breakRule>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-ds-1384791740570-33310</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>ds-1384791740570-33310</wdId>
      <tags>JavaApp</tags>
      <dirName>./work/JavaApp-1.*/**</dirName>
      <hosts></hosts>
      <filePattern>*.out</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>30</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>,,None</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
